html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1F304A !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.Sidebar-slot {
  z-index: 99;
  width: 26.875rem;
  height: 100vh;
  position: absolute;
  padding: 3rem;
}

  .whitediv {
    padding: 3rem 2rem;
  background-color: white !important;
  height: 100% !important;
  border-radius: 2rem;
  }